<%= form_for(@occupant) do |f| %>
  <% if @occupant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@occupant.errors.count, "error") %> prohibited this occupant from being saved:</h2>

      <ul>
      <% @occupant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :current_location %><br />
    <%= f.text_field :current_location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
