<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @occupant.id %>
</p>

<p>
  <b>Name:</b>
  <%= @occupant.name %>
</p>

<p>
  <b>Current location:</b>
  <%= @occupant.current_location %>
</p>


<%= link_to 'Edit', edit_occupant_path(@occupant) %> |
<%= link_to 'Back', occupants_path %>
