<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Description:</b>
  <%= @location.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @location.image_url %>
</p>

<p>
  <b>Placement:</b>
  <%= @location.placement %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
